html, body{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-image: url(https://f.vimeocdn.com/images_v6/staffpicks_bg.jpg);
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#container{
  width: 960px;
  margin: 0 auto;
}

.controlPanel{
  width: 960;
  margin: 60px auto 0;
  background-color: rgba(20,20,20,0.8);
  padding: 14px 30px;
  border-radius: 8px;
}

.sorter{
  display: inline-block;
  margin: 0 40px;
}

.sorter button{
  width: 100px;
  padding: 8px;
  border-radius: 6px;
  border: 0;
  color: white;
  font-size: 14px;
  margin: 0 4px;
  cursor: pointer;
  background-color: #777;
}

.filter{
    height: 34px;
    padding: 0 16px;
    background-color: #efefef;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    font-size: 14px;
    width: 200px;
    margin: 0 10px;
}

#playsBtn{
  background-color: #6c9;
}

#likesBtn{
  background-color: #fc575e;
}

#commentsBtn{
  background-color: #4bf;
}

.item{
  margin: 60px 0;
}

.wrap{
  position: relative;
}

.info{
  padding: 16px 16px 40px 16px;
  background-color: #222;
  color: #a7a7a7;
  font-size: 12px;
  line-height: 1.5;
}

.info_hide{
  max-height: 180px;
  overflow: hidden;
}

.overlay{
  position: absolute;
  bottom: 0;
  background-image: -webkit-linear-gradient(top,rgba(34,34,34,0)0,rgba(34,34,34,0.5)20%, rgba(34,34,34,1) 100%) !important;
  color: white;
  height: 100px;
}

.subinfo{
  position: absolute;
  bottom: 16px;
  right: 6px;
  font-size: 12px;
}

.subinfo strong{
  margin-right: 10px;
}

.plays{
  color: #6c9;
}

.likes{
  color: #fc575e;
}

.comments{
  color: #4bf;
}

.learnMore{
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.loading{
  position: absolute;
  width: 400px;
  height: 40px;
  top: 60%;
  left: 50%;
  margin-top: -20px;
  margin-left: -200px;
  text-align: center;
  color: white;
  font-size: 36px;
}
@-webkit-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-forever {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loading-spinner {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 200px;
  width: 200px;
  border: 8px solid #ffffff;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

.loading-spinner {
  position: absolute;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 50%;
  margin: -100px 0 0 -100px;
}

.load{
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
  -ms-animation: fadein 5s; /* Internet Explorer */
   -o-animation: fadein 5s; /* Opera < 12.1 */
      animation: fadein 5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}